{% include 'web/base.html' %}

{% block home %}
    <h3 class='offset-4 fw-bolder mt-2'>Sign In</h3>
<div class="col-md-4 offset-4 mt-4 border border-danger p-2 border-3 alert-dark rounded">
    <form action="" method='POST'> {% csrf_token %}
        {% for fm in form %}
        <label class='fw-bolder'>{{fm.label_tag}}</label>
        {{fm}} {{fm.errors|striptags}} <br>
        {% endfor %}
        <input type="submit" value="submit" class='btn btn-success offset-5'>
    </form>
</div> 
<strong class='offset-6 text-dark fst-italic'>New User sign up here</strong>
<a href={% url 'signup' %} class='btn btn-info mt-1'>Click</a> <br> <br>
{% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <strong class='alert alert-danger offset-3'>{{er}}</strong>
        {% endfor %}
    {% endif %}
<div class="col-md-4 offset-4 mt-1">
    {% if messages %}
    {% for ms in messages %}
        <div {% if ms.tags %} class="alert bg-success text-light w-0 offset-4"   role="alert" {% endif %}>
            <strong>Done!</strong>{{ms}}
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock home %}
